body{
    background-color: #011F3F;
}
h1{
    font-size: 3rem;
    text-align: center;
    margin: 5%;
    color: #FEF2BF;
    font-family: 'Press Start 2P', cursive;;
}

div{
    text-align: center;
}

.btn{
    border-radius: 20%;
    height: 200px;
    width: 200px;
    display: inline-block;
    border: 10px solid rgb(0, 0, 0);
}

#green{
    background-color: green;
}

#red{
    background-color: red;
}

#yellow{
    background-color: yellow;
}

#blue{
    background-color: blue;
}

.random-select{
    opacity: 0.5;
}

.pressed{
    box-shadow: 0 0 20px white;
    background-color: grey;
    
}

.wrong{
    background-color: red;
}